body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.forgot-password-container {
    background: #fff;
    margin: 50 auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px; /* Increase the max-width for horizontal expansion */
    width: 100%;
    margin: auto;
    text-align: center;
}
  
  h2 {
    margin-bottom: 20px;
    color: rgb(240, 130, 60); /* Orangish theme */
  }
  
  .forgot-password-form .form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between; /* Align label and input horizontally */
    align-items: center;
  }
  
  .forgot-password-form label {
    flex: 1; /* Allow label to take 1 part of the available space */
    margin-right: 10px; /* Space between label and input */
    color: #333;
    text-align: left;
  }
  
  .forgot-password-form input[type="email"],
  .forgot-password-form input[type="text"],
  .forgot-password-form input[type="password"] {
    flex: 2; /* Allow input to take 2 parts of the available space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Ensure input takes full width of flex space */
  }
  
  .submit-button {
    background-color: rgb(240, 130, 60); /* Orangish theme */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Add margin-top to create space from inputs */
    width: 100%;
  }
  
  .submit-button:hover {
    background-color: #45a049; /* Darker shade of orange */
  }
  
  .message {
    margin-top: 20px;
    color: rgb(240, 130, 60); /* Orangish theme */
  }
  