.chatbotSection {
    background-color: rgb(240, 207, 174);
    height: 600px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid black;
    position: relative;
    padding: 10px;
}

.firstmessage, .chatAnswer {
    background-color: white;
    max-width: 70%;
    border-radius: 8px;
    border: 1px solid black;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
}

.chatAnswer {
    margin-top: 10px;
}

.response {
    background-color: white;
    max-width: 70%;
    border-radius: 8px;
    border: 1px solid black;
    text-align: left;
    padding: 10px;
    margin-left: auto;
}

.input-form {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}

.inputField{
    width: 97%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}